.newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000;
    margin-top: 40px;
}

.newsletter__title {
    padding-top: 50px;
    color: rgb(252,219,0);
    font-size: 23px;
    font-weight: 700;    
    width: 60%;
    text-align: center;
}

.newsletter__subtitle {
    text-align: center;
    margin-top: 20px;
    font-weight: 500;
    font-size: 18px;
    color: #555;
    width: 50%;
}

.newsletter__form {
    margin-top: 40px;
    width: 50%;
}

.newsletter__form form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.newsletter__form form input {
    width: 75%;
    border-radius: 5px;
    border: none;
    padding: 10px 0px 10px 15px;
}

.newsletter__form form button {
    width: 20%;
    border-radius: 5px;
    border: none;
    margin-left: 15px;
    font-weight: bold;
    background-color: rgb(252,219,0);
    cursor: pointer;
}

.newsletter__form form input::placeholder {
    color: rgb(141, 141, 141);
}

.newsletter__follow {
    margin-top: 50px;
}

.newsletter__follow img {
    margin: 10px;
    cursor: pointer;
}

@media(max-width: 520px) {
    .newsletter__form form button {
        width: 100%;
        border-radius: 5px;
        border: none;
        margin: 0 auto;
        margin-top: 10px;
        padding: 10px 0px 10px 0px;
        font-weight: bold;
        font-size: 11px;
        background-color: rgb(252,219,0);
    }

    .newsletter__form form input {
        width: 100%;
        border-radius: 5px;
        border: none;
        padding: 10px 0px 10px 15px;
    }

    .newsletter__form form input::placeholder {
        font-size: 11px;
    }
}