.main {
    display: flex;
    justify-content: space-around;
    background-color: rgb(252,219,0);
    flex-wrap: wrap;
    width: 100%;
}
.main__text {
    margin-top: 50px;
}
.main__text__title {
    font-size: 25px;
    font-weight: 900;
}

.main__text__subtitle {
    margin: 20px 0px 20px 0;
    font-weight: 400;
    font-size: 21px;
    color: #313841;
}

.main__text__description {
    color: #555;
    font-weight: 300;
    margin-bottom: 40px;
}

.main__img {
    position: relative;
    right: 50px;
    margin-right: 70px;
    margin-bottom: 80px;
    
}

.main__img img {
    width: 100%;
}

.main__text__icons {
    font-size: 35px;
    display: flex;
    justify-content: space-between;
    width: 150px;
}

.list {
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.list ul {
    position: absolute;
    bottom: 0px;
    display: flex;
    width: 50px;
    justify-content: space-evenly;
}

.list ul li {
    background-color: #fff;
    padding: 5px;
    border-radius: 100%;
}

.list ul li:nth-child(n+2) {
    opacity: 0.5
}
@media(max-width: 620px) {
    .main {
        justify-content: center;
        flex-direction: column-reverse;
        padding-bottom: 50px;
    }
    .main__text__title,
     .main__text__subtitle,
      .main__text__description {
        text-align: center;
    }

    .main__text__description {
        padding: 20px 50px 20px 50px;
    }
    .main__text__icons {
        margin: 0 auto;
        padding-bottom: 20px;
    }

    .main__img {
        right: 0;
        margin: 0 auto;
    }

    .list ul {
        position: relative;
        bottom: 40px;
        display: flex;
        width: 50px;
        justify-content: space-evenly;
    }
  
}