.books {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 80px;
}

.books__title {
    font-size: 23px;
    font-weight: 900;
}

.books__description {
    text-align: center;
    margin-top: 20px;
    font-weight: 400;
    font-size: 18px;
    color: #313841;
    width: 50%;
}

.books__thumbnails {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    max-width: 900px;
    justify-content: center;
}

.books__thumbnail__loading img{
    width: 100px;
    height: 100px;
}

.books__thumbnails__img {
    padding: 10px 30px 15px 30px;
    cursor: pointer;
}

.books__thumbnails__img img{
    width: 150px;
    height: 200px;
}
