.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal::-webkit-scrollbar {
    width: 0px;
}

.modal__container {
    border-radius: 15px;
    background-color:#4F4F4F;
    margin: 15% auto;
    padding: 20px;
    width: 80%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    animation: fade 0.5s;
    -webkit-box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.31);
    -moz-box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.31);
    box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.31);
}

.modal__container__close {
    color: #aaa;
    margin-left: auto;
    font-size: 28px;
    font-weight: bold;
}

.modal__container__close:hover, 
    .modal__container__close:focus {
    color: #aaa;
    margin-left: auto;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.modal__container__body {
    text-align: center;
    color: #fff;
}

.modal__container__body div img{
    width: 150px;
    height: 200px;
}

.modal__container__body div h1{
    margin-top: 10px;
}

.modal__container__body div p{
    margin-top: 10px;
}

@keyframes fade{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
