header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgb(252,219,0);
    flex-wrap: wrap;
}

header div img:nth-child(1) {
    margin-right: 10px;
}

header .bar {
    display: none;
}
header nav ul {
    display: flex;
    width: 600px;
    justify-content: flex-end;
}

header nav ul li:nth-child(n+1) {
    padding-right: 70px;
    font-size: 23px;
    font-weight: bold;
}

header nav ul li a {
    text-decoration: none;
    color: black;
}

header .navbar__mobile {
    display: none;
}

@media(max-width: 620px) {
    .logo {
        margin-bottom: 10px;
    }
    header .navbar {
        display: none;
    }

    header .bar {
        display: block;
        font-size: 21px;
        cursor: pointer;
    }
    header .navbar__mobile {
        display: flex;
        animation-name: fade;
        animation-duration: 1s;
        border-top: 1px solid rgba(255, 255, 255, 0.562);
        width: 100%;
    }
    header .navbar__mobile ul {
        flex-wrap: wrap;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    header .navbar__mobile ul li:nth-child(n){
        font-size: 32px;
        padding: 25px 65px 0px 65px;
    }  

}

@keyframes fade {
    from {
        opacity: 0;
    } 
    to {
        opacity: 1;
    }
}