.address {
    background-color: #000;
    display: flex;
    justify-content: center;
}

.address__text {
    padding-top: 80px;
    color: white;
    display: flex;
    justify-content: space-around;
    width: 70%;
    padding-bottom: 100px;
}

.address__text p{
    width: 40%;
    padding: 20px;
}

@media(max-width: 520px) {
    .address__text {
        padding-top: 40px;
        text-align: center;
        flex-wrap: wrap;
    }
    .address__text p{
        width: 100%;
        padding: 20px;
    }
}